<div class="main-content-inner">
    <!-- #section:basics/content.breadcrumbs -->
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try{ace.settings.check('breadcrumbs' , 'fixed');}catch(e){}
        </script>

        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-lock home-icon"></i>
                <span class="menu-text"> 应用列表管理 </span>
            </li>
        </ul><!-- /.breadcrumb -->
        <!-- /section:basics/content.searchbox -->
    </div>

    <!-- /section:basics/content.breadcrumbs -->
    <div class="page-content" id="page-content">
        <div class="my-content" style="margin: 0 auto;position: relative;">
            <div id="fristTable">
                <div id="groupTable_filter" class="dataTables_filter" style="position: absolute;right: 0;top: 42px;"><label style="display: inline-block;
                "><input type="search" class="form-control input-sm" placeholder="搜索" style="display: inline-block;
                "></label></div>
                <table id="groupTable" class="table table-bordered table-hover dataTable no-footer" style="margin-top: 42px;">
                </table>
            </div>
            <div id="secondTable" style="display: none;">
                <table id="listTable" class="table table-bordered table-hover dataTable no-footer">
                </table>
            </div>
        </div>

        <div class="modal my-modal fade" id="groupModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">×</button>
                        <h4 style="margin: 0;">添加</h4>
                    </div>
                    <div class="modal-body">
                        <div class="my-form" style="">
                            <div class="form-group">
                                <label for="groupName">应用组名称:</label>
                                <input type="text" class="form-control" id="groupName" placeholder="请输入应用组名称">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a href="javascript:" class="btn my-btn btn-primary" id="subGroup">提交</a>
                        <a href="javascript:" class="btn my-btn btn-primary" data-dismiss="modal">返回</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal my-modal fade" id="listModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">×</button>
                        <h4 style="margin: 0;">添加</h4>
                    </div>
                    <div class="modal-body">
                        <div class="my-form">
                            <div class="form-group">
                                <label for="appName">应用名称:</label>
                                <input type="text" class="form-control" id="appName" placeholder="请输入应用名称">
                            </div>
                            <div class="form-group">
                                <label for="pkgName">包名:</label>
                                <input type="text" class="form-control" id="pkgName" placeholder="请输入包名">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a href="javascript:" class="btn my-btn btn-primary" id="subList">提交</a>
                        <a href="javascript:" class="btn my-btn btn-primary" data-dismiss="modal">返回</a>
                    </div>
                </div>
            </div>
        </div>

    </div><!-- /.page-content -->
</div>