<link rel="stylesheet" type="text/css" href="assets/css/bootstrap-datetimepicker.min.css">
<style type="text/css">
.my-choose{
    border: 1px solid #ccc;
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: #f5f7fa;
}
.my-choose .nav {
    margin-bottom: 10px;
}
.my-choose ul > li{
    float: left;
    margin-bottom: 5px;
}
.my-choose ul > li > label {
    width: 80px;
    text-align: right;
}
.my-choose ul > li > .form-control{
    margin-left: 10px;
    padding: 4px 12px;
    font-size: 12px;
    height: 27px;
    width: 150px;
    display: inline-block;
}
@media (min-width: 768px) {
    .my-content{
        width: 100%;
    }
}
</style>
<div class="main-content-inner">
    <!-- #section:basics/content.breadcrumbs -->
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try{ace.settings.check('breadcrumbs' , 'fixed');}catch(e){}
        </script>

        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-bullhorn home-icon"></i>
                <span class="menu-text"> 直播用户反馈 </span>
            </li>
        </ul><!-- /.breadcrumb -->
        <!-- /section:basics/content.searchbox -->
    </div>

    <!-- /section:basics/content.breadcrumbs -->
    <div class="page-content" id="page-content">
        <div class="my-content" style="margin: 0 auto;position: relative;">
            <div>
                <div class="row my-choose">
                    <ul class="nav">
                        <li>
                            <label for="model">model：</label>
                            <input type="text" class="form-control" id="model">
                        </li>
                        <li>
                            <label for="sn">sn：</label>
                            <input type="text" class="form-control" id="sn">
                        </li>
                        <li>
                            <label for="mac">mac：</label>
                            <input type="text" class="form-control" id="mac">
                        </li>
                        <li>
                            <label for="startVersion">startVersion：</label>
                            <input type="text" class="form-control" id="startVersion">
                        </li>
                        <li>
                            <label for="endVersion">endVersion：</label>
                            <input type="text" class="form-control" id="endVersion">
                        </li>
                        <li>
                            <label for="bEvent">event：</label>
                            <input type="text" class="form-control" id="bEvent">
                        </li>
                        <li>
                            <label for="channel">channel：</label>
                            <input type="text" class="form-control" id="channel">
                        </li>
                        <li>
                            <label for="p2pId">p2pId：</label>
                            <input type="text" class="form-control" id="p2pId">
                        </li>
                        <li>
                            <label for="g3Desc">g3Desc：</label>
                            <input type="text" class="form-control" id="g3Desc">
                        </li>
                        <li>
                            <label for="g3Region">g3Region：</label>
                            <input type="text" class="form-control" id="g3Region">
                        </li>
                        <li>
                            <label for="startTime">startTime：</label>
                            <input type="text" class="form-control" id="startTime">
                        </li>
                        <li>
                            <label for="endTime">endTime：</label>
                            <input type="text" class="form-control" id="endTime">
                        </li>
                    </ul>
                    <div style="border-top: 1px solid #ccc;margin: 0 25px;padding-top: 15px;">
                        <a class="btn my-btn btn-primary" href="javascript:" style="padding: 0 12px;" id="getBackData">&nbsp;查询</a>
                    </div>
                </div>

                <!-- <div class="row" id="chartBox">
                    <h4 style="margin-top: 50px;">状态码统计</h4>
                    <div class="btn-group">
                        <a href="javascript:" class="active" data-type="2">2XX</a>
                        <a href="javascript:" data-type="3">3XX</a>
                        <a href="javascript:" data-type="4">4XX</a>
                        <a href="javascript:" data-type="5">5XX</a>
                        <a href="javascript:" data-type="all">全部</a>
                    </div>

                    <div id="monitorChart" height="300"></canvas>
                </div> -->

                <div class="row" id="tableBox" style="margin-top: 20px;">
                    <table id="searchTable" class="table my-table table-bordered table-hover dataTable no-footer">
                    </table>
                </div>
            </div>
        </div>
    </div><!-- /.page-content -->
</div>
<script src="assets/js/bootstrap-datetimepicker.min.js"></script>
<script src="assets/js/bootstrap-datetimepicker.zh-CN.js"></script>