<div class="main-content-inner">
    <!-- #section:basics/content.breadcrumbs -->
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try{ace.settings.check('breadcrumbs' , 'fixed');}catch(e){}
        </script>

        <ul class="breadcrumb">
            <li>
                <i class="ace-icon glyphicon glyphicon-filter home-icon"></i>
                <span class="menu-text"> 接口管理 </span>
            </li>
        </ul><!-- /.breadcrumb -->
        <!-- /section:basics/content.searchbox -->
    </div>

    <!-- /section:basics/content.breadcrumbs -->
    <div class="page-content" id="page-content">
        <div class="my-content" style="margin: 0 auto;position: relative;">
            <div id="fristTable">
                <div id="groupTable_filter" class="dataTables_filter" style="position: absolute;right: 0;top: 42px;"><label style="display: inline-block;
                "><input type="search" class="form-control input-sm" placeholder="搜索" style="display: inline-block;
                "></label></div>
                <table id="groupTable" class="table table-bordered table-hover dataTable no-footer" style="margin-top: 42px;">
                </table>
            </div>
            <div id="secondTable" style="display: none;">
                <table id="interfaceTable" class="table table-bordered table-hover dataTable no-footer">
                </table>
            </div>
        </div>

        <div class="modal my-modal fade" id="groupModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 style="margin: 0;">添加</h4>
                    </div>
                    <div class="modal-body">
                        <div class="my-form" style="">
                            <div class="form-group">
                                <label for="groupName">组名称:</label>
                                <input type="text" class="form-control" id="groupName" placeholder="请输入组名称">
                            </div>
                            <div class="form-group">
                                <label for="groupDesc">组备注:</label>
                                <input type="text" class="form-control" id="groupDesc" placeholder="请输入组名称">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a href="javascript:" class="btn my-btn" id="subGroup">提交</a>
                        <a href="javascript:" class="btn my-btn" data-dismiss="modal">返回</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal my-modal fade" id="interfaceModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 style="margin: 0;">添加</h4>
                    </div>
                    <div class="modal-body" style="overflow: initial;">
                        <div class="my-form">
                            <div class="form-group">
                                <label for="interfaceName">名称:</label>
                                <input type="text" class="form-control" id="interfaceName" placeholder="请输入接口名称">
                            </div>
                            <div class="form-group">
                                <label for="infPath">接口:</label>
                                <input type="text" class="form-control" id="infPath" placeholder="请输入接口">
                            </div>
                            <div class="form-group">
                                <label for="interfaceDesc">备注:</label>
                                <input type="text" class="form-control" id="interfaceDesc" placeholder="请输入备注">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a href="javascript:" class="btn my-btn" id="subInterface">提交</a>
                        <a href="javascript:" class="btn my-btn" data-dismiss="modal">返回</a>
                    </div>
                </div>
            </div>
        </div>

    </div><!-- /.page-content -->
</div>