<style type="text/css">
.my-table tbody tr.checkSelected {
  background-color: #E4EFC9!important;
}
</style>
<div class="main-content-inner">
    <!-- #section:basics/content.breadcrumbs -->
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try{ace.settings.check('breadcrumbs' , 'fixed');}catch(e){}
        </script>

        <ul class="breadcrumb">
            <li>
                <i class="ace-icon glyphicon glyphicon-share home-icon"></i>
                <span class="menu-text"> 发布管理 </span>
            </li>
        </ul><!-- /.breadcrumb -->
        <!-- /section:basics/content.searchbox -->
    </div>

    <!-- /section:basics/content.breadcrumbs -->
    <div class="page-content" id="page-content">
        <div class="my-content" style="margin: 0 auto;position: relative;">
            <div id="myTable_filter" class="dataTables_filter" style="position: absolute;right: 0;top: 42px;"><label style="display: inline-block;
            "><input type="search" class="form-control input-sm" placeholder="搜索" style="display: inline-block;
            "></label></div>
            <table id="myTable" class="my-table table table-bordered table-hover dataTable no-footer" style="margin-top: 42px;">
            </table>
        </div>

        <div class="modal my-modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">×</button>
                        <h4 style="margin: 0;">发布</h4>
                    </div>
                    <div class="modal-body" style="overflow: initial;">
                        <div class="my-form">
                            <div class="form-group">
                                <label for="desktopList">选择桌面:</label>
                                <select class="chosen-select form-control" id="desktopList" data-placeholder="请选择桌面">
                                </select>
                            </div>
                            <div class="form-group" style="display: none;">
                                <label for="versionList">选择布局版本:</label>
                                <select class="chosen-select form-control" id="versionList" data-placeholder="选择布局版本">
                                </select>
                            </div>
                            <div class="form-group" style="display: none;">
                                <label for="versionLayout">资源包版本:</label>
                                <input type="text" class="form-control" id="versionLayout" readonly="readonly">
                            </div>
                            <div class="form-group" id="chooseType">
                                <label for="chooseType">选择类型:</label>
                                <input name="chooseType" type="radio" class="ace" value="group" checked>
                                <span class="lbl">&nbsp;内测</span>&emsp;
<!--                                 <input name="chooseType" type="radio" class="ace" value="AB">
                                <span class="lbl">&nbsp;灰度</span>&emsp; -->
                                <input name="chooseType" type="radio" class="ace" value="ALL">
                                <span class="lbl">&nbsp;公开</span>&emsp;
                            </div>
                            <div class="form-group">
                                <label for="group">选择内测组:</label>
                                <select id="group" class="form-control"></select>
                            </div>
                            <div class="form-group" style="display: none;">
                                <label for="countNum">灰度数量:</label>
                                <input type="text" class="form-control" id="countNum" placeholder="请输入数量">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a href="javascript:" class="btn my-btn btn-primary" id="subVersion">提交</a>
                        <a href="javascript:" class="btn my-btn btn-primary" data-dismiss="modal">返回</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal my-modal fade" id="macModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">×</button>
                        <h4 style="margin: 0;">设备列表</h4>
                    </div>
                    <div class="modal-body" style="overflow: initial;">
                        <table id="macTable" class="table table-bordered table-hover dataTable no-footer">
                        </table>
                    </div>
                    <div class="modal-footer">
                        <a href="javascript:" class="btn my-btn btn-primary" data-dismiss="modal">返回</a>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /.page-content -->
</div>