<link rel="stylesheet" type="text/css" href="views/desktop/desktop.css">
<style type="text/css">
#navWarp, #logoWarp, #navDataWarp, #attachmentWarp, #quickWarp, #quickWarp a, #weatherWarp, #timerWarp{
    position: absolute!important;
}
</style>
<div class="main-content-inner">
    <!-- #section:basics/content.breadcrumbs -->
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try{ace.settings.check('breadcrumbs' , 'fixed');}catch(e){}
        </script>

        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-key home-icon"></i>
                <span class="menu-text"> 快捷入口管理 </span>
            </li>
        </ul><!-- /.breadcrumb -->
        <!-- /section:basics/content.searchbox -->
    </div>

    <!-- /section:basics/content.breadcrumbs -->
    <div class="page-content" id="page-content" style="overflow-x: auto;padding-bottom: 0;">
        <div class="my-layout" id="myLayout" style="width: 1610px;margin: 0 auto;height: 790px;position: relative;">
            <div style="width: 130px;height: 720px;float: left;">
                <div id="screenBtn">
                    <a class="btn my-btn btn-primary" href="javascript:" id="addQuick">新建快捷入口</a>
                    <a class="btn my-btn btn-primary" href="javascript:" id="delQuick" style="display:none;">删除快捷入口</a>
                    <a class="btn my-btn btn-primary" href="javascript:" id="addIcon" style="display:none;">添加控件</a>
                    <a class="btn my-btn btn-primary slot-data" href="javascript:" id="editIcon" style="display:none;">修改控件</a>
                    <a class="btn my-btn btn-primary slot-data" href="javascript:" id="delIcon" style="display:none;">删除控件</a>
                    <a class="btn my-btn btn-primary" href="javascript:" id="editQuick" style="display:none;">保存</a>
                </div>
            </div>
            <div>
                <div id="screenSelect">
                    <label for="quickSelect">选择快捷入口:</label>
                    <select id="quickSelect" class="chosen-select form-control" style="width: 170px;margin-left: 10px;display: none;"></select>&emsp;

                    <label for="desktopProportion">显示比例:</label>
                    <select class="chosen-select" id="desktopProportion" data-placeholder="100%" style="width: 170px;">
                        <option value="120">120%</option>
                        <option value="100" selected>100%</option>
                        <option value="80">80%</option>
                        <option value="60">60%</option>
                    </select>&emsp;
                </div>
            </div>
            <div id="pageWrap">
                <ul class="dropdown-menu" id="setQuickAlignment">
                    <li><a href="#" class="alignment-set">左对齐</a></li>
                    <li><a href="#" class="alignment-set">右对齐</a></li>
                    <li><a href="#" class="alignment-set">上对齐</a></li>
                    <li><a href="#" class="alignment-set">下对齐</a></li>
                    <li><a href="#" class="alignment-set">横向间隔对齐</a></li>
                    <li><a href="#" class="alignment-set">纵向间隔对齐</a></li>
                </ul>
                <div class="screenWarp" id="screenWarp"><ul><li>
                    <div id="quickWarp" class="screen-quick" style="width:100%;height:100%;"></div>
                </li></ul></div>
            </div>
            <div style="width: 200px;height: 700px;position: absolute;left: 1410px;top: 70px;">
                <div id="slotInfo">
                    <h4>快捷入口信息：</h4>
                    <div class="form-group">
                        <label for="quickLeft">left:</label>
                        <input type="text" class="form-control quick-data" id="quickLeft">
                    </div>
                    <div class="form-group">
                        <label for="quickTop">top:</label>
                        <input type="text" class="form-control quick-data" id="quickTop">
                    </div>
                </div>
            </div>
        </div>

        <div class="modal my-modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" style="width: 1461px;">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">×</button>
                        <h4 style="margin: 0;">新建快捷入口</h4>
                    </div>
                    <div class="modal-body" style="max-height: 650px;">
                        <div class="my-form" style="width:1400px">
                            <div class="form-group">
                                <label for="quickName" style="width: 10%;">快捷入口名称:</label>
                                <input type="text" class="form-control" id="quickName" placeholder="请输入快捷入口名称" style="width: 20%;">
                                <span style="margin-left: 100px;font-size: 16px;color: #999;">说明：不选择快捷入口，生成的快捷入口则为空快捷入口</span>
                            </div>
                        </div>
                        <div id="quickList" class="screenList clearfix">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a href="javascript:" class="btn my-btn btn-primary" id="subNewQuick">提交</a>
                        <a href="javascript:" class="btn my-btn btn-primary" data-dismiss="modal">返回</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal my-modal fade" id="iconModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">×</button>
                        <h4 style="margin: 0;">添加控件</h4>
                    </div>
                    <div class="modal-body" style="overflow: initial;">
                        <div id="add_pos2">
                            <div class="my-form">
<!--                                 <div class="form-group">
                                    <label for="iconCustomId">控件ID:</label>
                                    <input type="text" class="form-control attachment-data" id="iconCustomId">
                                </div> -->
                                <div class="form-group">
                                    <label for="iconName">控件名称:</label>
                                    <input type="text" class="form-control quick-data" id="iconName">
                                </div>
                                <div class="form-group">
                                    <label for="iconPosX">坐标X:</label>
                                    <input type="text" class="form-control quick-data" id="iconPosX">
                                </div>
                                <div class="form-group">
                                    <label for="iconPosY">坐标Y:</label>
                                    <input type="text" class="form-control quick-data" id="iconPosY">
                                </div>
                                <div class="form-group" id="jumpType">
                                    <label for="jumpType">跳转信息类型:</label>
                                    <input name="jumpType" type="radio" class="ace" value="APP" checked>
                                    <span class="lbl">&nbsp;应用</span>&emsp;
                                    <input name="jumpType" type="radio" class="ace" value="URI">
                                    <span class="lbl">&nbsp;链接</span>&emsp;
                                </div>
                                <div class="form-group app-type">
                                    <label for="jumpApp">跳转应用:</label>
                                    <select class="chosen-select form-control" id="jumpApp" data-placeholder="请选择跳转应用">
                                    </select>
                                </div>
                                <div class="form-group app-type">
                                    <label for="jumpDetail">跳转详情页:</label>
                                    <select class="chosen-select form-control" id="jumpDetail" data-placeholder="请选择跳转详情页">
                                    </select>
                                </div>
                                <div class="form-group linkin-type" style="display: none;">
                                    <label for="uriVal">跳转链接:</label>
                                    <input type="text" class="form-control" id="uriVal" placeholder="请输入跳转链接">
                                </div>
                                <div class="form-group">
                                    <label for="iconList">控件图标:</label>
                                    <select class="chosen-select form-control" id="iconList" data-placeholder="请选择ICON图标集合">
                                    </select>
                                </div>
                                <div class="form-group" id="reloadPic">
                                </div>
                            </div>
                            <img src="" class="my-image">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a href="javascript:" class="btn my-btn btn-primary" id="subIcon">提交</a>
                        <a href="javascript:" class="btn my-btn btn-primary" data-dismiss="modal">返回</a>
                    </div>
                </div>
            </div>
        </div>

    </div><!-- /.page-content -->
</div>
<script type="text/javascript" src="views/desktop/public.js"></script>