<style type="text/css">
#releaseModal textarea, #infoModal textarea, #editModal textarea{
    height: auto;
    resize: none;
    width: 70%;
    margin: 0 auto;
}
#releaseModal .form-group, #infoModal .form-group, #editModal .form-group{
    margin-bottom: 10px;
}
.form-textarea{
    position: relative;
    top: -32px;
}
</style>
<div class="main-content-inner">
    <!-- #section:basics/content.breadcrumbs -->
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try{ace.settings.check('breadcrumbs' , 'fixed');}catch(e){}
        </script>

        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-sign-in home-icon"></i>
                <span class="menu-text"> 发布鉴权 </span>
            </li>
        </ul><!-- /.breadcrumb -->
        <!-- /section:basics/content.searchbox -->
    </div>

    <!-- /section:basics/content.breadcrumbs -->
    <div class="page-content" id="page-content">
        <div class="my-content" style="margin: 0 auto;position: relative;">
            <div id="myTable_filter" class="dataTables_filter" style="position: absolute;right: 0;top: 42px;"><label style="display: inline-block;"><input type="search" class="form-control input-sm" placeholder="搜索" style="display: inline-block;
                "></label></div>
            <table id="myTable" class="table table-bordered table-hover dataTable no-footer" style="margin-top: 42px;">
            </table>
        </div>

        <div class="modal my-modal fade" id="macModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">×</button>
                        <h4 style="margin: 0;">设备列表</h4>
                    </div>
                    <div class="modal-body" style="overflow: initial;">
                        <table id="macTable" class="table table-bordered table-hover dataTable no-footer">
                        </table>
                    </div>
                    <div class="modal-footer">
                        <a href="javascript:" class="btn my-btn btn-primary" data-dismiss="modal">返回</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal my-modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">×</button>
                        <h4 style="margin: 0;">查看</h4>
                    </div>
                    <div class="modal-body">
                        <div class="my-form">
                            <div class="form-group">
                                <label for="infoDesc" class="form-textarea">描述:</label>
                                <textarea rows="2" id="infoDesc" readonly="readonly"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="infoWhite" class="form-textarea">白名单:</label>
                                <textarea rows="2" id="infoWhite" readonly="readonly"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="infoBlack" class="form-textarea">黑名单:</label>
                                <textarea rows="2" id="infoBlack" readonly="readonly"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="infoUmeng">友盟升级:</label>
                                <input type="text" class="form-control" id="infoUmeng" readonly="readonly">
                            </div>
                            <div class="form-group">
                                <label for="infoFake">假包:</label>
                                <input type="text" class="form-control" id="infoFake" readonly="readonly">
                            </div>
                            <div class="form-group">
                                <label for="infoForced">强制版本:</label>
                                <input type="text" class="form-control" id="infoForced" readonly="readonly">
                            </div>
                            <div class="form-group">
                                <label for="infoPrompt">提示版本:</label>
                                <input type="text" class="form-control" id="infoPrompt" readonly="readonly">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a href="javascript:" class="btn my-btn btn-primary" data-dismiss="modal">返回</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal my-modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">×</button>
                        <h4 style="margin: 0;">公开</h4>
                    </div>
                    <div class="modal-body">
                        <div class="my-form" style="">
                            <div class="form-group">
                                <label for="editDesc"  class="form-textarea">描述:</label>
                                <textarea rows="2" id="editDesc" placeholder="选填（输入描述，以英文分号';'分隔）"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="editWhite" class="form-textarea">白名单:</label>
                                <textarea rows="2" id="editWhite" placeholder="选填（输入白名单，以英文分号';'分隔）"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="editBlack" class="form-textarea">黑名单:</label>
                                <textarea rows="2" id="editBlack" placeholder="选填（输入黑名单，以英文分号';'分隔）"></textarea>
                            </div>
                            <div class="form-group" id="editUmeng">
                                <label for="editUmeng">友盟升级:</label>
                                <input name="editUmeng" type="radio" class="ace" value="false">
                                <span class="lbl">&nbsp;否</span>&emsp;
                                <input name="editUmeng" type="radio" class="ace" value="true" checked>
                                <span class="lbl">&nbsp;是</span>&emsp;
                            </div>
                            <div class="form-group" id="editFake">
                                <label for="editFake">假包:</label>
                                <input name="editFake" type="radio" class="ace" value="false" checked>
                                <span class="lbl">&nbsp;否</span>&emsp;
                                <input name="editFake" type="radio" class="ace" value="true">
                                <span class="lbl">&nbsp;是</span>&emsp;
                            </div>
                            <div class="form-group">
                                <label for="editForced">强制版本:</label>
                                <input type="text" class="form-control" id="editForced" placeholder="请输入强制版本">
                            </div>
                            <div class="form-group">
                                <label for="editPrompt">提示版本:</label>
                                <input type="text" class="form-control" id="editPrompt" placeholder="请输入提示版本">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a href="javascript:" class="btn my-btn btn-primary" id="subEdit">提交</a>
                        <a href="javascript:" class="btn my-btn btn-primary" data-dismiss="modal">返回</a>
                    </div>
                </div>
            </div>
        </div>

    </div><!-- /.page-content -->
</div>