<style type="text/css">
#cmdModal textarea {
    height: auto;
    resize: none;
    width: 80%;
    margin: 0 auto;
}
</style>
<div class="main-content-inner">
    <!-- #section:basics/content.breadcrumbs -->
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try{ace.settings.check('breadcrumbs' , 'fixed');}catch(e){}
        </script>

        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-dot-circle-o home-icon"></i>
                <span class="menu-text"> 命令管理 </span>
            </li>
        </ul><!-- /.breadcrumb -->
        <!-- /section:basics/content.searchbox -->
    </div>

    <!-- /section:basics/content.breadcrumbs -->
    <div class="page-content" id="page-content">
        <div class="my-content" style="margin: 0 auto;position: relative;">
            <div id="cmdGroupTable_filter" class="dataTables_filter" style="position: absolute;right: 0;top: 42px;"><label style="display: inline-block;
            "><input type="search" class="form-control input-sm" placeholder="搜索" style="display: inline-block;
            "></label></div>
            <table id="cmdGroupTable" class="table table-bordered table-hover dataTable no-footer" style="margin-top: 42px;">
            </table>
        </div>

        <div class="modal my-modal fade" id="cmdModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">×</button>
                        <h4 style="margin: 0;">添加</h4>
                    </div>
                    <div class="modal-body" style="overflow: initial;">
                        <div class="my-form" style="">
                            <div class="form-group">
                                <label for="cmdName">命令名称:</label>
                                <input type="text" class="form-control" id="cmdName" placeholder="请输入命令名称">
                            </div>
                        </div>
                        <textarea class="form-control" rows="15" id="cmdTages" placeholder="请输入命令（按回车键分隔）"></textarea>
                    </div>
                    <div class="modal-footer">
                        <a href="javascript:" class="btn my-btn btn-primary" id="subCmd">提交</a>
                        <a href="javascript:" class="btn my-btn btn-primary" data-dismiss="modal">返回</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal my-modal fade" id="cmdListModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">×</button>
                        <h4 style="margin: 0;">命令列表</h4>
                    </div>
                    <div class="modal-body" style="overflow: initial;">
<!--                         <table id="cmdListTable" class="table table-bordered table-hover dataTable no-footer">
                        </table> -->
                        <textarea class="" rows="20" id="cmdListTable" readonly="readonly" style="width: 100%;resize: none;"></textarea>
                    </div>
                    <div class="modal-footer">
                        <a href="javascript:" class="btn my-btn btn-primary" data-dismiss="modal">返回</a>
                    </div>
                </div>
            </div>
        </div>

    </div><!-- /.page-content -->
</div>